.menu-principal {
	max-width:500px;	
}
.tabela-lista {
	max-width:800px;		
}
.alinhamento th{
	width:150px;
}
.errorlist{
	color:red;
	font-size:15px;	
}
.helptext{
	font-size: 12px;
	color:gray;
}
.divdeleta {
	position: absolute;
	background-color: white;
	left: 10%;	
	width:200px;
	margin-top: 100px;
	border: 1px;
	color: red;
	border:thin solid; 
	text-align: center;
	border-radius: 8px;
}					