{% extends 'notes/base.html' %}

{% block content %}
        
<form method="post">{% csrf_token %}
	<div class="divdeleta">
		<h4>Are you sure you want to delete "{{ responsavel.responsavel }}" ?</h4>
		<p>
		<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-ok"></span> </button>
    	<a class="btn btn-default" href="{% url 'notes:detalhe-responsavel' pk=responsavel.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
	<h1>Detalhes</h1>
    {{ responsavel.responsavel }}<br>
    {{ responsavel.descricao }}<br>
    {{ responsavel.data_registro }}<br><br><br>
    
</form>

{% endblock content %}