{% extends 'notes/base.html' %}

{% block content %}
        
    <h1>Detalhes</h1>
    {{ responsavel.responsavel }}<br>
    {{ responsavel.descricao }}<br>
    {{ responsavel.data_registro }}<br><br><br>

	<a class="btn btn-default" href="{% url 'notes:edit-responsavel' pk=responsavel.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	<a class="btn btn-default" href="{% url 'notes:delete-responsavel' pk=responsavel.pk %}"><span class="glyphicon glyphicon-trash"></span></a>

{% endblock content %}