{% extends 'notes/base.html' %}

{% block content %}
        
    <h1>New Note</h1>
    <form method="POST" class="tabela-lista">{% csrf_token %}
    	<table class="table table-hover alinhamento">
    		{{ form.as_table }}
    	</table>
        <button type="submit" class="save btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>        
        <a class="btn btn-default" href="{% url 'notes:lista' %}"><span class="glyphicon glyphicon-remove"></span></a>
    </form>	   

    <script>
		$(document).ready(function () { 
	        var $seuCampoData = $("#id_data");
	        $seuCampoData.mask("9999-99-99");
	    });

	</script>

{% endblock content %}

